@use "../shared/media-queries" as screens;

.feed-me__signin {
    &__container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        display: grid;
        place-items: center;
        height: 100vh;

        @include screens.min-sm {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        @include screens.min-lg {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        &__content {
            margin-left: auto;
            margin-right: auto;
            max-width: 32rem;

            &__title {
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
                color: #4f46e5;

                @include screens.min-sm {
                    font-size: 1.875rem;
                }
            }

            &__description {
                margin-left: auto;
                margin-right: auto;
                margin-top: 1rem;
                max-width: 28rem;
                text-align: center;
                color: #718096;
            }

            &__form {
                margin-bottom: 0;
                margin-top: 1.5rem;
                padding: 1rem;
                border-radius: 0.5rem;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

                @include screens.min-sm {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }

                @include screens.min-lg {
                    padding-left: 2rem;
                    padding-right: 2rem;
                }

                &__title {
                    text-align: center;
                    font-size: 1.125rem;
                    font-weight: 500;
                }

                &__line-break {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;

                    hr {
                        flex-grow: 1;
                        border-top: 1px solid #2d3748;
                    }

                    p {
                        margin-left: 1rem;
                        margin-right: 1rem;
                        font-size: 0.875rem;
                        font-weight: 500;
                        color: #2d3748;
                    }
                }

                &__input {
                    margin-top: 1rem;

                    div {
                        input {
                            width: 100%;
                            border-radius: 0.5rem;
                            border: 1px solid #e5e7eb;
                            padding: 1rem;
                            padding-right: 3rem;
                            font-size: 0.875rem;
                            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
                        }

                        span {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 10%;
                            height: 100%;
                            display: grid;
                            place-content: center;

                            svg {
                                height: 1rem;
                                width: 1rem;
                                color: #cbd2d9;
                                fill: none;
                                stroke: currentColor;

                                path {
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-width: 2px;
                                }
                            }
                        }
                    }
                }

                &__input-msg {
                    position: relative;
                    display: block;
                    width: 100%;
                    padding: 1rem;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    color: #ffffff;
                    border-radius: 0.5rem;
                    opacity: 1;
                    font-weight: normal;

                    &.success {
                        background-color: #34d399;
                    }

                    &.error {
                        background-color: #ef4444;
                    }
                }

                &__submit-btn {
                    display: block;
                    width: 100%;
                    border-radius: 0.5rem;
                    background-color: #4f46e5;
                    padding: 0.625rem 0.9375rem;
                    font-size: 0.875rem;
                    font-weight: 500;
                    color: white;
                    margin-top: 1rem;
                }

                &__redirection-link {
                    text-align: center;
                    font-size: 0.875rem;
                    color: #6b7280;
                    margin-top: 1rem;
                }
            }
        }
    }
}