@use "../shared/media-queries" as screens;

.feed-me__admin-dashboard__menu {
    width: 20rem;
    height: 100vh;
    padding: 1rem;
    padding-top: 1.25rem;
    border-right: 2px solid #cbd5e0;

    ul {
        li {
            margin-bottom: 1.25rem;
            width: 15rem;

            a {
                display: flex;
                justify-content: space-between;

                div {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: 0.5rem;
                        fill: none;
                        stroke: currentColor;
                        stroke-width: 1.5;

                        path {
                            stroke-linecap: round;
                            stroke-linejoin: round;
                        }
                    }
                }
            }
        }
    }
}