@use "../shared/media-queries" as screens;

.feed-me__admin-dashboard__aside__header {
    width: 215px;
    margin-top: 3rem;
    margin-left: 3rem;

    // @include screens.max-lg {
    //     display: none;
    // }

    h1 {
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    &__heading {
        color: #27ae60;
    }

    h4 {
        font-weight: 500;
        font-size: 1.125rem;
        color: #b9bbbd;

    text-wrap: nowrap;
    }
}