@use "../shared/media-queries" as screens;

.feed-me__admin-dashboard__main {
    flex: 1;
    background-color: #f0f0f0;
    padding: 1.25rem;

    &__status-container {
        display: flex;
        height: 10rem;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 0.75rem;
        row-gap: 0.75rem;
    }
}